
.banner {
    display : inline-block;
    text-align: center;
    height: 40px;
    width: 100%;
    background-color: rgb(124, 176, 232);
    font-size: 30px;
    font-weight: 400;

}


.search-table {
    display: ;

}