.banner {
    display: inline-block;
    text-align: center;
    height: 40px;
    width: 100%;
    background: linear-gradient(to right, rgb(124, 176, 232) 0%, rgb(255, 176, 232)70%);
    font-size: 30px;
    font-weight: 400;

}

#current-city {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    border: black solid;
    width: 750px;
    height:200px;
    border-radius: 5px;
}

#five-day {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 750px;
    height: auto;
   
}

.list-item {
    border-radius: 10px;
    background-color: rgb(112, 112, 228);
    width: 100px;
}